body {
    background-color: #081D3C;
}

.text-gold {
    color: #E2B562;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

}

.text-white {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.img-header {
    display: block;
    margin-left: auto;
    margin-right: 0px;
    padding: 0px;
}

.guirnalda {
    background-image: url('../assets/img/grupo9.png');
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}


.container-hour {
    border-right: 2px solid #861A2E;
    border-left: 2px solid #861A2E;
}

.container-hour>h2 {
    font-weight: 500;
    font-size: 51.8452px;
    line-height: 63px;
    margin: 0px;
}

.container-date>p {
    margin-top: 30px;
}

.container-hour>p {
    margin: 0px;
}

.container-location {
    display: inline-block;
}

.container-location>a {
    padding: 0px;
    color: #FFFFFF
}

.location {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}


.btn-menu {
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: inset 0px 0px 30.4144px rgba(255, 255, 255, 0.05), inset 0px 2.02763px 2.02763px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(32.5124px);
    border-radius: 8.94152px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12.5889px;
    line-height: 15px;
    position: relative;
}

.container-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.container-btn>img {
    margin: 5px;
    width: 27px;
    height: 25px;
}

.img-btn{
    width: 100%;
}

.col>a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 19px;

}

.footer {
    margin-top: 30px;
}

/* Pagina Hospedaje */

.arrow {
    margin-top: 25px;
    width: 100%;
}

.text-bg-transp {
    background: rgba(255, 255, 255, 0.03);
    box-shadow: inset 0px 0px 30.4144px rgba(255, 255, 255, 0.05), inset 0px 2.02763px 2.02763px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(32.5124px);
    color: #FFFFFF;
    height: 175px;
    border-radius: 8.94152px;
    -webkit-border-radius: 8.94152px;
    -moz-border-radius: 8.94152px;
    -ms-border-radius: 8.94152px;
    -o-border-radius: 8.94152px;
}

.text-bg-transp > img{
    width: 100%;
}

/* Pagina vestimenta */

.title {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

.container-cloth>img {
    margin-left: 40%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.final-text {
    margin-top: 100px;
    width: 60%;
}

/* pagina mesa de regalos */

.btn-regalos {
    width: 326.28px;
    height: 140px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: inset 0px 0px 38.0003px rgba(255, 255, 255, 0.05), inset 0px 2.53335px 2.53335px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(40.6216px);
    border-radius: 11.1717px important;
    margin-left: 3%;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    -webkit-border-radius: 11.1717px important;
    -moz-border-radius: 11.1717px important;
    -ms-border-radius: 11.1717px important;
    -o-border-radius: 11.1717px important;
}

.btn-regalos>img {
    width: 50%;
    height: 140px;
    padding-left: 0px;
}
.img-regalos{
    width: 100%;
}

.btn-text {
    padding: 10px;
    margin-top: 15px;
}

.btn-text>h2 {
    font-weight: 700;
    font-size: 15.7288px;
    line-height: 19px;
    text-align: center;
}

.btn-text>p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

/* Modal */
.modal-account {
    background-color: #081D3C;
}

/* contador */

#cuenta {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
}

.simply-section{
    background-color: #FFFFFF;
    width: 60px;
    height: 60px;
    margin: 0px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simply-amount{
    display: block;
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 700;
}

.simply-word{
    font-size: 10px;
}